<div class="position">
  <mat-form-field>
    <mat-label>What needs to be done?</mat-label>
    <input
      style="text-align: center;"
      type="text"
      matInput
      placeholder="Placeholder"
      [(ngModel)]="name"
      (keyup.enter)="onEnter()"
    >
  </mat-form-field>

  <div *ngIf="listTodos.todos$ | async as todos">

    <mat-hint align="end">{{todos.length}} items left</mat-hint>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" value="All"
                             [(ngModel)]="typeFilter">
      <mat-button-toggle value="All">All</mat-button-toggle>
      <mat-button-toggle value="Active">Active</mat-button-toggle>
      <mat-button-toggle value="Completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-button (click)="listTodos.allSwitch(flagSwitching); flagSwitching =!flagSwitching">All Completed</button>

    <button mat-button (click)="listTodos.clearCompleted()">Clear Completed</button>

    <div class="position__list-container">
      <div *ngFor="let todo of todos">
        <div *ngIf="(typeFilter == 'Active' && !todo.state) ||
                    (typeFilter == 'Completed' && todo.state) ||
                    typeFilter == 'All'"
             style="column-gap: 20px;"
        >
          <mat-checkbox [(ngModel)]="todo.state"></mat-checkbox>
          <input
            #todoInput
            style="text-align: center; min-width: 100px;"
            type="text"
            matInput
            [placeholder]="todo.name"
            (keyup.enter)="renameTodo(todoInput.value, todo)"
            [readonly]="todo.readonlyFlag"
            (dblclick)="todo.readonlyFlag=!todo.readonlyFlag"
          >
          <button mat-fab aria-label="Example icon button with a delete icon"
                  (click)="listTodos.deleteElement(todos.indexOf(todo))"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



